.authContainer{
    background-image:url("https://as2.ftcdn.net/v2/jpg/05/71/15/59/1000_F_571155945_Aq3wgA5feiCK1I8T3ltpA03ecbx1yJ6K.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.bgBlure{
    backdrop-filter: blur(4px);
}